---
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} 
    <a href="https://github.com/KevinChrist02" target="_blank">Kevin Christ</a>.
     All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: var(--base);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
        color:var(--base); 
	}
</style>
